<button ejs-button id='updateRecord' (click)='update()'>Update Record</button>

<ejs-gantt #gantt 
  id="ganttDefault" 
  height="430px" 
  [dataSource]='data' 
  [taskFields]="taskSettings" 
  [timelineSettings]="timelineSettings" 
  [editSettings]="editSettings" 
  [toolbar]="toolbar" 
  [columns]="columns" 
  [highlightWeekends]="true"
  [treeColumnIndex]="0"
  [labelSettings]="labelSettings"
  [allowFiltering]='true' 
  [projectStartDate]="projectStartDate" [projectEndDate]="projectEndDate"
  [splitterSettings]="splitterSettings"
  [allowSorting] = "true"
  [enableContextMenu]="true"> </ejs-gantt> 